[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_API_URL = "https://notaero-magetool-backend.hf.space"

[[plugins]]
  package = "@netlify/plugin-nextjs"
